#ignore environment variables for docker-compose
.env
/website/content/*
/website/conf.d/*
!/website/content/index.html.dist
!/website/conf.d/default.conf.dist
mailserver/docker-compose.yaml
mailserver/config/*
mailserver/config/sieve-filter/*
!/mailserver/config/*.dist
!/mailserver/config
!/mailserver/config/sieve-filter/gpg-mailgate.py
!/mailserver/config/sieve-filter/register-handler.py
!/mailserver/config/sieve-filter/attext.py
!/mailserver/config/sieve-filter
