#ignore environment variables for docker-compose
.env
/website/content/*
/website/conf.d/*
/**/*.pyc
/**/*.conf
mailserver/docker-compose.yaml
mailserver/config/*
mailserver/config/sieve-filter/*
mailserver/config/sieve-pipe/*

!/mailserver/config/sieve-filter/gpg-mailgate.py
!/mailserver/config/sieve-pipe/register-handler.py
!/mailserver/config/sieve-filter/attext.py
!/**/*.dist



