require ["vnd.dovecot.pipe"];
# Save S/MIME Public Key
if allof (address :matches "To" "register@<DOMAIN>",
		  address :matches "from" ["<DOMAIN>","<DOMAIN_2>"]) {
#      if header :matches "from" "*" { set "from" "${1}"; }	
      pipe "register-handler.py"; 
# "${from}";
	  discard;
	  stop;
	}
} 
